<% layout('layouts/boilerplate') %> 
<div class="container">
    <h1> <%= user.username %> </h1>
    <div>
        <h2>Bio</h2>
        <% if (user.bio) { %>
            <p> <%= user.bio %> </p>
        <% } %>
    </div>
    <div>
        <h2>Posts</h2>
        <% if (user.posts.length) { %>
            <ul>
                <% for( let post of user.posts) { %>
                    <li><a href="<%= user._id %>/posts/<%= post._id %> "><%= post.title %></a> </li>
                <% } %>
            </ul>
        <% } else {%>
            <p>No post so far</p>
        <% } %>
    </div>
    <div>
        <a href="/"><button type="button" class="btn btn-primary">Home</button></a>
        <a href="<%= user._id %>/posts/new"><button type="button" class="btn btn-primary">New Post</button></a>
        <a href="/users"><button type="button" class="btn btn-secondary">Back</button></a>
    </div>    
</div>
